.menu-open  {
    position: relative;
    width: 50px;
    height: 50px;
    -webkit-appearance: none;  /* with out checkbox style */
    cursor: pointer;
    background-color: #dc0025;
    border-radius: 50%;
    outline: none;
    transition: .1s;
}

.menu .menu-open + .menu-open-button .menu-line-1{
    position: absolute;
    top: 30px;
    left: 29px;
    width: 17px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    transition: .1s;
}

.menu .menu-open + .menu-open-button .menu-line-2 {
    position: absolute;
    top: 35px;
    left: 29px;
    width: 17px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    transition: .1s;
}

.menu .menu-open + .menu-open-button .menu-line-3{
    position: absolute;
    top: 41px;
    left: 29px;
    width: 17px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    transition: .1s;
}

/* checked button */

.menu-open:checked {
    width: 41px;
    height: 41px;
    border: solid #C80123 1.5px;
    transition: .1s;
}

.menu-item {
    display: none;
}

.menu .menu-open:checked + .menu-open-button .menu-line-1{
    position: absolute;
    top: 30px;
    left: 25px;
    width: 15px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    transform: rotate(45deg);
    transition: 0.1s;
}

.menu .menu-open:checked + .menu-open-button .menu-line-2{
    display: none;
}

.menu .menu-open:checked + .menu-open-button .menu-line-3{
    position: absolute;
    top: 30px;
    left: 25px;
    width: 15px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    transform: rotate(-45deg);
    transition: 0.1s;
}

/* when the input is checked, it shows the menu items */

.menu-open:checked ~ .menu-item {
    display: block;
    margin: 8px 5px;
    color: white;
    width: 38.5px;
    height: 38.5px;
    background-color: #dc0025;
    border: solid #C80123 1.5px;
    border-radius: 50%;
    text-align: center;
}

.menu-open:checked ~ .menu-item i {
    transform: translateY(60%);
}

.menu-open:checked ~ .menu-item:hover {
    background-color: #fff;
    color: #dc0025;
    border: solid #C80123 1.5px;
}
